/* Global styles */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

/* Header styles */

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

    .header .navbar-brand {
        font-size: 24px;
        font-weight: bold;
        margin-right: auto;
        margin-left: 10px;
    }

    .header .navbar-nav li {
        margin-right: 0px;
        width: 85px;
    }

        .header .navbar-nav li a {
            color: #fff;
            font-weight: bold;
        }

        .header .navbar-nav li.active a {
            color: #ffd500;
        }

/* Navigation styles */

nav {
    background-color: #0B012F;
    padding: 10px;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
        display: inline-block;
        margin-right: 10px;
        /* vertical-align: middle*/
    }

    nav a {
        color: floralwhite;
    }

/* Main content styles */

.container {
    padding: 10px;
}

/* Footer styles */

.footer {
    background-color: #0B012F;
    color: #fff;
    padding: 10px;
    text-align: center;
}
